#LeftMenu #accNav {width: 100%; padding:0px; font-family: Arial, Helvetica, sans-serif; position:relative; display:none; z-index:1;}
#LeftMenu ul#accNav {font-size: 12px; list-style: none; font-weight:bold;}
#LeftMenu ul#accNav li {padding: 0; margin: 0;}
#LeftMenu ul#accNav li a {font-size: 12px; padding: 10px 5px; color: #000; display: block; text-decoration: none; font-weight: bolder; background-color:#7ec040; border-bottom:#000 solid 1px;}
#LeftMenu ul#accNav li a:hover {background-color:#419c3d; color:#000;}
#LeftMenu ul#accNav li a.active {background-color:#419c3d; color:#000;}
#LeftMenu ul#accNav li a.active:hover {background-color:#419c3d; color:#000;}
#LeftMenu ul#accNav ul {margin: 0; padding: 0; display: none;}
#LeftMenu ul#accNav ul li {margin: 0; padding: 0; clear: both;}
#LeftMenu ul#accNav ul li a {padding-left: 15px; font-size: 12px; font-weight: normal; outline:0; background:#dedcdc url(../images/listBullet.png) no-repeat 5px 15px; color:#000;}
#LeftMenu ul#accNav ul li a:hover {background-color:#cfcece; color:#000;}
#LeftMenu ul#accNav ul li a.active {background-color:#cfcece; color:#000;}
#LeftMenu ul#accNav ul li a.active:hover {background-color:#cfcece; color:#000;}
#LeftMenu ul#accNav ul ul li a {color:silver; padding-left: 25px; color:#000; background:#f4f4f4 url(../images/listBullet.png) no-repeat 16px 15px;}
#LeftMenu ul#accNav ul ul li a:hover {background-color:#eae9e9; color:#000;}
#LeftMenu ul#accNav ul ul li a.active {background-color:#eae9e9; color:#000;}
#LeftMenu ul#accNav ul ul li a.active:hover {background-color:#eae9e9; color:#000;}
#LeftMenu ul#accNav li span{display:inline-block; float:right; height:20px; width:15px; position:absolute; right:10px;}